.card-list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-gap: 32px;
}

@media all and (max-width: 1200px) {
    .card-list {
        grid-template-columns: repeat(2, 342px);
        row-gap: 35px;
        column-gap: 20px;
        margin-top: 70px;
    }
}