.container {
    width: 1140px;
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 1200px) {
    .container {
        width: 668px;
    }
}

@media all and (max-width: 725px) {
    .container {
        width: calc((100vw - 28px));
    }
}
