.nav {
    position: absolute;
    top: 21px;
    display: flex;
    width: 1085px;
    background-color: transparent;
    right: calc((100vw - 1140px)/2);
}
.nav__film-links {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.nav__film-link {
    color: white;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.38;
}
.nav__film-link_bold {
    margin: 0 16px 0 0;
    font-weight: 500;
}
.nav__film-link_normal {
    margin: 0;
    font-weight: 400;
}
.nav__register {
    display: flex;
    align-items: center;
}
.nav__link {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    text-decoration: none;
}
.nav__link_login {
    background-color: #3DDC84;
    border-radius: 3px;
    color: black;
    margin-left: 10px;
}
.nav__link_registration {
    color: white;
}
.nav__link_account {
    background-color: #313131;
    border-radius: 20px;
    color: white;
    width: max-content;
    margin: auto auto 90px;
}
.nav__account {
    background-color: #313131;
    border-radius: 20px;
    color: white;
    margin: 0;
}
.none {
    display: none;
}
.overlay {
    z-index: 5;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s ease;
}
.overlay_on {
    display: block;
    visibility: visible;
    opacity: 1;
}
.nav__button {
    display: none;
    position: absolute;
    right: 30px;
    top: 15px;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: none;
    background-image: url(../../images/logo-nav.svg);
}
.nav__button:focus-visible {
    outline: none;
}
.nav__popup {
    position: fixed;
    right: 0;
    width: 520px;
    height: 100vh;
    background-color: #202020;
    display: flex;
    flex-direction: column;
}
.nav__popup-close {
    background-color: #202020;
    border: none;
    background-image: url(../../images/cross.svg);
    background-size: fill;
    background-position: center;
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin: 22px 22px 0 auto;
    padding: 0;
}
.nav__popup_links {
    display: flex;
    flex-direction: column;
    margin: 105px auto 0;
    align-items: center;
}
.nav__link_popup {
    color: white;
    padding: 0;
    margin: 0 0 22px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    width: max-content;
    text-align: center;
}
.nav__link_line {
    width: 100%;
    height: 1px;
    margin: 4px 0 0;
}
.nav__link_line_active {
    background-color: white;
}
.nav__link_line_off {
    background-color: #202020;
}

@media all and (max-width: 1200px) {
    .nav {
        right: 30px;
        width: calc(100vw - 110px);
    }
}

@media all and (max-width: 800px) {
    .nav {
        right: 0;
        top: 0;
        width: max-content;
    }
    .nav__register {
        margin: 21px 30px 0 0;
    }
    .nav__account {
        display: none;
    }
    .nav__film-links {
        display: none;
    }
    .nav__button {
        display: flex;
    }
    .nav__account {
        margin: 21px 70px 0 auto;
    }

    .none {
        display: none;
    }
}

@media all and (max-width: 725px) {
    .nav__popup {
        width: 100vw;
    }
    .nav__popup_links {
        margin-top: 100px;
    }
    .nav__link_account {
        margin-bottom: 46px;
    }
    .nav__popup-close {
        margin: 13px 13px 0 auto;
    }
    .nav__button {
        top: 15px;
        right: 16px;
    }
}