.search__field {
    width: 100%;
    height: 72px;
    border: rgba(255, 255, 255, 0.2) solid 1.5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search__input {
    background-color: transparent;
    border: none;
    color: #8B8B8B;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin: 25px;
    width: 100%;
}
.search__input:focus-visible {
    outline: none;
    border-bottom: white solid 1px;
    color: white;
}
.search__button {
    cursor: pointer;
    background-color: #4285F4;
    width: 100px;
    height: 52px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    color: white;
    font-size: 14px;
    line-height: 1.29;
    font-weight: 500;
    transition: transform ease 0.3s;
}
.search__button:hover {
    transform: scale(1.05, 1.05);
}
.line {
    max-width: 100%;
    height: 1px;
    background-color: white;
    opacity: 0.2;
    margin: 44px 0 10px;
}
.search__label {
    color: white;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
    margin-left: 14px;
}

.search__slider {
    cursor: pointer;
    width: 36px;
    height: 20px;
    border-radius: 100px;
    background-color: grey;
    margin: 26px 0 0;
    appearance: none;
    position: relative;
}
.search__slider:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 90px;
    background-color: white;
    transition: left 0.3s ease;
}
.search__slider:checked {
    background-color: #3DDC84;
}
.search__slider:checked::after {
    left: 18px;
}