.form__register-label {
    color: #8B8B8B;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
}
.form__register-input {
    background-color: #2F2F2F;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
    margin: 10px 0 20px;
    padding: 15px 0;
    width: 100%;
    color: white;
}
.form__register-input:focus-visible {
    outline: none;
    border: rgba(255, 255, 255, 0.5) solid 1px;
}
.form__register-input:invalid {
    color: #EE3465;
}
.form__register-error-text {
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}